 # ***Data structure***

##  list

In [1]:
x=[2,3,5,6,23,56,7,8]

In [2]:
type(x)

list

### to add an element

In [3]:
x.append(9)
print(x)

[2, 3, 5, 6, 23, 56, 7, 8, 9]

#### to insert another list

In [12]:
d=[10,12,15,13]
x.extend(d)
print(x)

[2, 3, 5, 6, 23, 56, 7, 8, 9, 10, 12, 10, 12, 15, 13]

#### to insert an element particular place

In [6]:
x.insert(3,20)
print(x)

[2, 3, 5, 20, 20, 6, 23, 56, 7, 8, 9, 10, 12, 15, 13]

#### to remove an element

In [8]:
x.remove(20)
print(x)

[2, 3, 5, 6, 23, 56, 7, 8, 9, 10, 12, 15, 13]

#### to remove last element

In [10]:
x.pop()
print(x)

[2, 3, 5, 6, 23, 56, 7, 8, 9, 10, 12]

#### to delete all element in a list

In [11]:
c=[1,2,3,4,5,6]
c.clear()
print(c)

[]

### to find index of number

In [13]:
x.index(15)

13

#### to arrange it

In [14]:
x.sort()  #ascending 
print(x)

[2, 3, 5, 6, 7, 8, 9, 10, 10, 12, 12, 13, 15, 23, 56]

In [15]:
x.sort(reverse=True) # descending
print(x)

[56, 23, 15, 13, 12, 12, 10, 10, 9, 8, 7, 6, 5, 3, 2]

#### to count the element

In [16]:
x.append(9)
print(x)

[56, 23, 15, 13, 12, 12, 10, 10, 9, 8, 7, 6, 5, 3, 2, 9]

In [17]:
x.count(9)

2

### to copy the list

In [23]:
f=x.copy()
print(f)

[56, 23, 15, 13, 12, 12, 10, 10, 9, 8, 7, 6, 5, 3, 2, 9]

#### delete an element

In [20]:
del f[5]   # single element
print(f)

[23, 15, 13, 12, 10, 10, 9, 8, 7, 6, 5, 3, 2, 9]

In [21]:
del f[2:4]  # group element
print(f)

[23, 15, 10, 10, 9, 8, 7, 6, 5, 3, 2, 9]

In [24]:
del f[:5]  # first part
print(f)

[12, 10, 10, 9, 8, 7, 6, 5, 3, 2, 9]

In [25]:
del f[:]    # fully
print(f)

[]

In [26]:
x.clear()
print(x)

[]

## tuples

In [27]:
j=(1,2,3,4,8,9,5)
print(type(j))

<class 'tuple'>

### to get a value at place

In [28]:
print( j[4])

8

### convert tuple to list

In [29]:
e=list(j)
print(type(e))
print(e)

<class 'list'>
[1, 2, 3, 4, 8, 9, 5]

#### convert list to tuple

In [30]:
h=tuple(e)
print(type(h))
print(h)

<class 'tuple'>
(1, 2, 3, 4, 8, 9, 5)

## set

In [31]:
t={1,2,3,6,4}
print( type(t))

<class 'set'>

In [32]:
a=set('mathes')
b=set('hari')
print(a)# print the unique letters
print(b)

{'s', 'm', 'a', 'e', 'h', 't'}
{'r', 'h', 'i', 'a'}

#### letters in a not in b

In [33]:
a-b

{'e', 'm', 's', 't'}

#### letters in b not in a

In [34]:
b-a

{'i', 'r'}

#### letters in a or b or both

In [35]:
a|b

{'a', 'e', 'h', 'i', 'm', 'r', 's', 't'}

#### common letters in a & b

In [36]:
a&b

{'a', 'h'}

#### uncommon letters

In [37]:
a^b

{'e', 'i', 'm', 'r', 's', 't'}

## dictionaries

In [ ]:
u={"first":1}
print(type(u))

In [39]:
i={"subbu":95,"mathesh":45,"nithish":89,"nishanth":50}

In [40]:
i["subbu"]

95

In [ ]:
i["nithish"]

In [ ]:
i["nishanth"]

In [42]:
w={"subbu":[12,15,14,65],"mathesh":[15,17,19,65],"nithish":[13,15,15,64]}

In [43]:
w["subbu"]

[12, 15, 14, 65]

In [ ]:
w["nithish"]

In [ ]:
w["mathesh"]